<script type="text/javascript">

  // update current gmt time every second
  (function(){
     update = function() {
      t =  new Date().toUTCString();
      $("#current_gmt_time").text(t)
    }
  
    setInterval("update()", 1000);
})();

</script>


<div id="new_bettle_step_1">
  
  <p>1. Type in your Team</p>
    <%= form_tag( { :controller => :bettles, :action => :team_search},  :remote => true, :format => :js, :id => "team_search") do %>
    
     <p><%= text_field_tag :search_term,  nil, :placeholder => 'Search for team' %> <%= submit_tag "Go", :class => "all_btn_2" %></p>
  
    <% end %>
  
    <div id="search_results"></div>
  
    <div id="selected_fixture_step_1">
      <div id="home-team"> </div>
      <div>vs.</div>
      <div id="abroad-team"></div>
      <div id="date"></div>
      <div id="league"></div>
  </div>

  <div onclick="transition_step(2)">Continue Button</div>

</div>

<div id="new_bettle_step_2">
 <p>2. Propose a bet</p>
 <div id="selected_fixture_step_2"></div>
 <%= form_for @bettle  do |f| %>
     <%= f.hidden_field :fixture_id %>
     <div id="bettle_outcome_selection">
       <p> I bet that: <%= f.select(:maker_outcome_id, get_outcomes, {}, :onchange => "outcome_validation(this)") %></p>
       <p> Rival needs to bet that: <%= f.select(:taker_outcome_id, get_outcomes_reverse, {}, :onchange => "outcome_validation(this)") %></p>
     </div>
     <p> <%= f.select(:free_bet, {"I play with cash" => 0, "I play for honour" => 1}, {}, :onchange => "cash_or_honor_bet(this)" ) %></p>
     <div id="cash_bet">
       <p>My potential win: <%= f.text_field(:win_maker, :placeholder => "Enter amount here €") %> </p>
       <p>My potential loss: <%= f.text_field(:win_taker, :placeholder => "Enter amount here €") %>  </p>
     </div>
     <p>Expiration time </p>
     <div><input type="radio" name="time_select" value="0" checked="checked" onclick="date_selection(0)"> Time span <input type="radio" name="time_select" value="1" onclick="date_selection(1)">Exact date & time</div>
     <div id="time_span">
       <p>Bet expires in</p>
       <%= text_field_tag(:days, nil, :placeholder => "# days") %> <%= text_field_tag(:hours, nil, :placeholder => "# hours") %> <%= text_field_tag(:minutes, nil, :placeholder => "# minutes") %>
     </div>
     <div id="exact_date">
       <p>Bet expires on</p>
       <%= f.text_field(:expiration_time) %>
       <p>Bettle.me orientates itself to the Greenwich Mean Time (GMT). Current GMT: <span id="current_gmt_time"></span></p>
     </div>
     <p><%= f.submit %> </p>
 <% end %>

 <div onclick="transition_step(1)">Go Back Button</div>

</div>