Hey Angularjs



 <div ng-repeat="bettle in bettles | filter:searchText | orderBy:order:reverse " style="border-style:solid">   
 <div>Date: {{bettle.fixture.date}}</div>
 <div>League: {{bettle.fixture.league.league_name}}</div>
